{% extends 'layout.html.twig' %}

{% block content %}
    <link rel="stylesheet" href="/assets/css/home.css">



    <main class="introduction">
        <h1>Bienvenue, jeune brigand !</h1>

        Vous êtes un voleur en quête de sensation mais respectueux des règles du confinement?
        Pour vous, nous avons trouvez la solution.
        Venez infiltrer le Metropolitan Museum et récupérez une œuvre qui sera sélectionner par nos soins.
        Profitant du confinement, tu tentes aujourd'hui de t'infiltrer dans le Metropolitan Museum of Art.
        N'écoutant que ton courage légendaire et ta soif d'<del>argent</del> aventure, tu te lances à corps
        perdu à la recherche d'une œuvre bien précise.
        Évidemment, tu t'es largement préparer en récupérant des informations secrètes sur leur site officiel
        et on optimisant ton physique déjà au top, via des tutos youtube.
        Malheureusement, toutes ces activités t'ont fait oublier de prendre un plan le jour J!
        Mais, après tout, maintenant que tu es là..
        <form action="/Game/index" method="POST">
            <label for="login_name">Votre pseudo:</label>
            <input type="text" name="login_name">
            <input type="submit" value="login name">
        </form>
    </main>
{% endblock %}
