{% extends 'layout.html.twig' %}

{% block content %}
    <link rel="stylesheet" href="/assets/css/home.css">



    <main class="replay">

        <h1>C'était bien joué !</h1>

        <div> {{ message }} </div>

        <div class="end-message">Encore une fois, tu avais raison de te faire confiance!
        Par des techniques habile, tu te faufiles dans les rues ni vu ni connu, le butin à la main.
        C'est à deux pas de chez toi, que, une fois la tension redescendu, une voiture de police s'arrête devant toi.
        Aucune chance pour qu'ils se doutent du larcin commis mais.. pas d'attestation!
        Et c'est ainsi que, tout aussi formidable que tu sois, tu te retrouves embarquer par la police (ça rigole pas avec le Covid à New York)!
            Mais, après tout, tu feras sûrement mieux la prochaine fois..</div>

        <a class="end btn nav-link" href="/home/restart">Steal Again!</a>

    </main>
{% endblock %}