<ul class="nav flex-column">
    <li>Your position :  {{ roomNumber }} </li>
    <li>Go to :</li>
    {% for room in accessibleRooms %}
    <li class="nav-item">
        <a class="nav-link" href="/./Game/index/{{ room }}">{{ room }}</a>
    </li>
    {% endfor %}
</ul>