<ul class="nav flex-column">
    <li>Your position : Room 115 </li>
    <li>Go to :</li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Room 111</a> <!-- Future porte bouclée via twig -->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Room 116</a><!-- Future porte bouclée via twig -->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Room 117</a><!-- Future porte bouclée via twig -->
    </li>
</ul>