{% extends 'layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-4">
            {% include 'Game/_maps.html.twig' %}
        </div>
        <div class="col-4">
            {% include 'Game/_help.html.twig' %}
        </div>
        <div class="col-4">
            {% include 'Game/_img.html.twig' %}
        </div>
        <div class="col-4">
            {% include 'Game/_navRoom.html.twig' %}
        </div>
    </section>
{% endblock %}
