{% extends 'layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-6">
            {% include 'Game/_map.html.twig' %}
        </div>
        <div class="col-6">
            {% include 'Game/_img.html.twig' %}
        </div>
        <div class="col">
            {% include 'Game/_navRoom.html.twig' %}
        </div>
    </section>
{% endblock %}
