body {
    background-image: url("https://magazine.bellesdemeures.com/sites/default/files/article/image/metropolitan_museum_of_art_de_nuit.jpg");
    width: 100%;
    color: white;
    background-repeat: no-repeat;
    text-align: center;
}